p {
  padding-right: 2rem;
  color: #151a57;
}

p.text-right.greeting {
  padding-top: 0.7rem;
  font-size: 12px;
}

p.text-right span {
  color: #0095d5;
  font-size: 12px;
  font-weight: 800;
  padding-left: 3rem;
  cursor: pointer;
}

p.text-right.guest {
  padding-top: 1.5rem;
  font-weight: 600;
  font-size: 14px;
}
