/* .App {
  min-height: 100vh;
  grid-template-rows: 20% 80%;
}

.dashboard {
  margin-top: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 25% auto;
}

.roomsNmessages {
  display: grid;
  grid-template-columns: 25% auto;
  min-height: 100vh;
}

.logo {
  background-color: red;
  max-width: 150px;
}

.brand {
  margin-top: 4px;
  max-width: 100%;
  display: block;
  height: auto;
  background-color: white;
}

.rooms {
  background-color: #151a57;
  min-width: 250px;
} */

/* .col {
  padding: 0;
  margin: 0;
  min-width: 100%;
} */

.container {
  padding: 0;
  margin: 0;
  min-width: 100%;
}
.img {
  padding: 1rem 1rem 1rem 1.4rem;
  max-width: 16rem;
}

.myContainer {
  width: 100%;
}

.col-9.myBar {
  background-color: white;
}

.sperationLine {
  margin-top: 112px;
  width: 100%;
  padding-bottom: 0.5rem;
  background-color: #151a57;
}

div.row.myRow {
}

/* div.roomListPart {
  color: blueviolet;
} */

.row.myRow.fixed-top {
  background-color: white;
}
