/* .container {
  padding: 0;
  margin: 0;
  min-width: 100%;
}
.img {
  padding: 1rem 1rem 1rem 1.4rem;
  max-width: 16rem;
}

.myContainer {
  width: 100%;
}

.col-9.myBar {
  background-color: white;
}

.sperationLine {
  margin-top: 112px;
  width: 100%;
  padding-bottom: 0.5rem;
  background-color: #151a57;
}

.row .col-sm-12.col-md-4 {
  margin: 0;
  padding: 0;
}

.col-sm-12.col-md-4.rooms {
  background-color: #151a57;
  padding-left: 15px;
}

.row.myRow.fixed-top {
  background-color: white;
}

@media (max-width: 575.98px) {
  .sperationLine {
    display: none;
  }
} */

/* new style */

.myContainer {
  display: grid;
  grid-template-rows: 35px 2px auto;
}

.sperationLine {
  margin-top: 112px;
  width: 100%;
  padding-bottom: 0.5rem;
  background-color: #151a57;
}

.myTopNav {
  z-index: 10;
  min-width: 100%;
  background-color: white;
  position: fixed;
  display: grid;
  grid-template-columns: 30% 70%;
}

.RoomsAndTextArea {
  display: grid;
  grid-template-columns: 30% 70%;
}

.img {
  padding: 1rem 1rem 1rem 1.4rem;
  max-width: 16rem;
}

@media (max-width: 768px) {
  .sperationLine {
    display: none;
  }

  .RoomsAndTextArea {
    display: block;
  }
}
