body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100%;
  background-color: gray;
}


.hidden {
  display: none;
}



.App {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: white;
   min-height: 100vh;

}


.rooms {
  background-color: lightgray;
}




/* ROOMLIST COMPONENT  ROOMLIST COMPONENT   ROOMLIST COMPONENT  ROOMLIST COMPONENT  ROOMLIST COMPONENT   ROOMLIST COMPONENT */



.myRoomList ul li {
list-style-type: none;
line-height: 1rem;
padding-bottom: 1rem;
padding-left: 1rem;
/* cursor: pointer; */

}

.myRoomList ul li button,.myRoomList ul li h2 {
cursor: pointer;
}

.myRoomList ul {
border-bottom: 3px solid white;
padding-left: 0;

}

h1.app-name {
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.NewRoomCreated {
  padding-left: 1rem;
}


.NewRoomCreated label{
  font-size: 1.5rem;

}

.NewRoomCreated input[type=text]{
  width: 80%;
  margin-top: 0.7rem;
  height: 60px;
  box-sizing: border-box;
  border: 4px solid black;
  padding-left: 4px;
  font-size: 1.2rem;

}

.NewRoomCreated input[type=submit]{
  width: 80%;
  margin-top: 0.7rem;
  height: 40px;
  cursor: pointer;
  background-color: darkgray;
  border-radius: 16px;
}





/* MESSAGELIST COMPONENT   MESSAGELIST COMPONENT     MESSAGELIST COMPONENT  MESSAGELIST COMPONENT     MESSAGELIST COMPONENT */




.messageParts {
  padding-left: 2rem;
}

.messageList ul li {
  list-style-type: none;
  line-height: 2rem;

}

.messageList ul:nth-child(even) {
  background-color: lightgray;
}


.messageList ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.messageForm input[type=text] {
  width: 70%;
  margin-top: 0.7rem;
  height: 60px;
  box-sizing: border-box;
  border: 4px solid black;
  padding-left: 4px;
  font-size: 1.2rem;
}

.messageForm input[type=submit] {
  width: 20%;
  margin-left: 0.7rem;
  height: 40px;
  cursor: pointer;
  background-color: darkgray;
  border-radius: 16px;
}










/* USER COMPONENT  USER COMPONENT  USER COMPONENT  USER COMPONENT  USER COMPONENT  USER COMPONENT */



.userPart h1 {
  margin-left: 2rem;
}

.userPart button.LogIn {
  margin-left: 2rem;
  width: 20%;
  height: 40px;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 16px;
}


.userPart button.logOut {
  margin-left: 1rem;
  width: 20%;
  height: 40px;
  cursor: pointer;
  background-color: lightgray;
  border-radius: 16px;
}
